{% extends '::base.html.twig' %}

{% block title %} {{ parent() }}Register{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/user/add-skill.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Register a user</h1>

        <div class="row">
            <a href="{{ path('user_list') }}" class="btn btn-warning pull-right">Back to the list</a>

            {{ form_start(form) }}
            {{ form_widget(form.name, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'name'
                }
            }) }}
            <br>
            {{ form_widget(form.surname, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'surname'
                }
            }) }}
            <br>
            {{ form_widget(form.username, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'username'
                }
            }) }}
            <br>
            {{ form_widget(form.email, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'email'
                }
            }) }}
            <br>

            <h3>Add some skills</h3>

            <ul style="list-style-type: none;" id="skills-list" data-prototype="
                {% filter escape %}
                    {{ include('UserBundle:User/Prototype:skill_prototype.html.twig', {'form': form.skills.vars.prototype}) }}
                {% endfilter %}">
            </ul>

            <button id="add-skill" class="btn btn-primary">Add Skill</button>

            <br>
            {{ form_widget(form.submit, {
                'attr': {
                    'class': 'btn btn-primary pull-right'
                }
            }) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
