<html>
<head>
    <title>Título de la página</title>
</head>
<body>
{% for flash_message in app.session.flashBag.get('success') %}
    <p><strong style="color:green">{{ flash_message }}</strong></p>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
    <p><strong style="color:red">{{ flash_message }}</strong></p>
{% endfor %}

<!--{{ 'now'|date('H:i:s') }} (hora en plantilla)-->

<p><a href="{{ url('app_homepage') }}">Users list</a></p>

<ul>
   <li><a href="{{ url('app_user_add') }}">Add new user [+]</a></li>
</ul>

<ul>
    {% for user in users %}
        <li>
            <strong>{{ user.name }}</strong> ({{ user.email }})
            - <a href="{{ path('app_user_remove', {'user_id': user.userId}) }}">Remove</a>
            - <a href="{{ path('app_user_edit', {'user_id': user.userId, 'email': 'alternative' ~ random(5000) ~ '@gmail.com', 'name': user.name}) }}">Edit</a>
            <ul><li>{% for skill in user.skills %}{{ skill.description }}{% if false == loop.last %}, {% endif %}{% endfor %}</li></ul>
        </li>
    {% endfor %}
</ul>
</body>
</html>
